/* COMMENTS */

.entry-comments { }

.even { }
.odd { }

.comment-list { }
.comment-header { }
.comment-author { }
.comment-author cite { }

.comment-meta { }

.comment-content { }

.reply { }

.children { }

.bypostauthor { }

#respond { }
#reply-title { }

#commentform { }
.logged-in-as { }
.comment-form-comment { }
#comment { }
.form-submit { }
#submit { }
