/*
 * Mixin for easy media queries
 * @include bp(tablet) { SCSS here };
*/
@mixin bp($point) {
	@if $point == biggie {
		@media (max-width: 1600px) { @content; }
	}
	@if $point == tablet {
		@media (max-width: 1024px) { @content; }
	}
	@else if $point == phone {
		@media (max-width: 768px) { @content; }
	}
}
