/* GENERAL */
body { background: white; font: $baseFont; }

a, a:visited { color: $linkColor; }
a:hover { color: $linkHoverColor; }

/* HEADINGS / TYPOGRAPHY */
h1, h2, h3, h4 { }
h1 { }
h2 { }
h3 { }
h4 { }

/* STRUCTURE */
#wrap { width: $pageWidth; }
.wrap { }

/* HEADER */
#header { }
.widget-area { }
#title-area { }

/* NAV */
#nav { }
#subnav { }

/* MAIN */
#inner { }
#content-sidebar-wrap
#content

/* SIDEBAR */
#sidebar { }

/* FOOTER */
#footer { }
.gototop { }
.creds { }

/****************************************
PAGE TEMPLATES
*****************************************/

/* Home Page */
.home { }

/* Blog Page */
.blog { }
