/* GENERAL */
body { }

a,
a:visited {
	color: $linkColor;
}
a:hover {
	color: $linkHoverColor;
}

::-moz-selection {
    background: $selectionColor;
    text-shadow: none;
}

::selection {
    background: $selectionColor;
    text-shadow: none;
}

/* HEADINGS / TYPOGRAPHY */
h1, h2, h3, h4 { }
h1 { }
h2 { }
h3 { }
h4 { }

/* STRUCTURE */
.site-container { max-width: $pageWidth; }
.wrap { }

/* HEADER */
.site-header { }
.title-area { }
.site-title { }
.site-description { }
.header-widget-area { }

/* NAV */
.nav-primary { }
.nav-secondary { }

/* MAIN */
.site-inner { }
.content-sidebar-wrap { }
.content { }

/* SIDEBAR */
.sidebar-primary { }

/* FOOTER */
.footer-widgets { }
.site-footer { }


/****************************************
PAGE TEMPLATES
*****************************************/

/* Home Page */
.home { }

/* Blog Page */
.blog { }
