// Font Face

// @include font-face('FONT_FAMILY', 'assets/fonts/FONT_FILE_NAME_WITHOUT_EXTENSION',);

// Structure
$pageWidth: 1000px;

// Text Selection
$selectionColor: orange;

// Links
$linkColor: red;
$linkHoverColor: blue;

// Other
